<div class="about">
  <h1>About</h1>
  <h2>What is the Resolution Project:</h2>
  <p>A year-long project that tracks 9 participants and their 2017 New Year's resolutions.</p>

  <h2>Process:</h2>
  <p class="process">At the end of each month in 2017, an email is sent out with questions to track the participants' resolution progress. There are three sets of questions: beginning, middle, and end.</p>
  <p>The "beginning" set, sent in January, asks the participants to declare a resolution.</p>
  <p>The "middle" set, sent February through November, track resolution progress, changes to schedule, and feelings towards resolution completion.</p>
  <p>The "end" set, sent in December, provides a year end checkpoint on the status of the resolution.</p>

  <h2>Effort of participants:</h2>
  <ul>
    <li>Answer 5-6 questions each month for the next 12 months.</li>
    <li>Be okay with me sharing first names*, ages, professional fields, and any information about their resolutions.</li>
  </ul>
  <p><em>* Some names were changed</em></p>

  <h2>Who are the participants:</h2>
  <p>The participants are people I know who I could reliably get in contact with each month.</p>

  <h2>Who am I?</h2>
  <p>I am <a href="http://www.kellyd813.com/" target="_blank">Kelly Devine</a>, a front-end developer living in New York, New York.</p>

  <h2>Motivation for The Resolution Project:</h2>
  <p>Two reasons &mdash;</p>
  <ol>
    <li>I am super fascinated by the idea of a New Year resolution. We can decide at any point of the year to make a change in our lives, but the New Year resolution is so powerful. It's the start of a New Year, a new you! </li>
    <li>Using this as an opportunity to stretch my brain as a dev and design project.</li>
  </ol>

  <h2>Technology:</h2>
  <p>This is site is built using HTML, CSS, JS, Harp, EJS, and Netlify.</p>
  <p>Link to my <a href="https://github.com/KellyD813/newyears" target="_blank">Github repo</a>.</p>

  <h2>Icons:</h2>
  <p>Thanks to the following folks for allowing me to use their icons on this site:</p>
  <ul class="credit">
    <li>Turntable &mdash; <a href="https://thenounproject.com/iconsparty8889/" target="_blank">Iconsparty</a></li>
    <li>Game Console &mdash; <a href="https://thenounproject.com/beziermaster/" target="_blank">Bezier Master</a></li>
    <li>Notebook &mdash; <a href="https://thenounproject.com/aathis/" target="_blank">Karthik Srinivas</a></li>
    <li>Chat &mdash; <a href="https://thenounproject.com/pictohaven/" target="_blank">pictohaven</a></li>
    <li>Hanger &mdash; <a href="https://thenounproject.com/alrigel/" target="_blank">alrigel</a></li>
    <li>Weight Scale &mdash; <a href="https://thenounproject.com/sevgenjory/" target="_blank">sevgenjory</a></li>
    <li>Book &mdash; <a href="https://thenounproject.com/artworkbean/" target="_blank">artworkbean</a></li>
    <li>Handcuff &mdash; <a href="https://thenounproject.com/romzicon/" target="_blank">romzicon</a></li>
    <li>Pen &mdash; <a href="https://thenounproject.com/icon54app/" target="_blank">Icon 54</a></li>
  </ul>
</div>
