<div class="main">
  <h1>Resolution Project</h1>
  <h3 class="blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dapibus libero et aliquet mattis. Aenean sed odio non elit fermentum pulvinar. Aliquam efficitur sodales suscipit. Nam commodo fermentum bibendum.</h3>
  <div class="nonagon">
    <div class="a">Alex</div>
    <div class="b">A.T.</div>
    <div class="c">Becca</div>
    <div class="d">George</div>
    <div class="e">Jack</div>
    <div class="f">Jane</div>
    <div class="g">Mitzi</div>
    <div class="h">Olivia</div>
    <div class="i">Zach</div>
  </div>
</div>
