<div class="main">
  <h1>Resolution Project</h1>
  <h3 class="blurb">The Resolution Project follows nine people over the 2017 year. These nine people declared a New Year's resolution in January in hopes to complete their goal by the end of December.</h3>
  <div class="nonagon">
    <div class="icons alex"><a href="/people/alex"><img src="/images/alex.gif" alt="clothing hanger"></a></div>
    <div class="icons at"><a href="/people/at"><img src="/images/at.gif" alt="open book"></a></div>
    <div class="icons becca"><a href="/people/becca"><img src="/images/becca.gif" alt="person talking"></a></div>
    <div class="icons george"><a href="/people/george"><img src="/images/george.gif" alt="game controller"></a></div>
    <div class="icons jack"><a href="/people/jack"><img src="/images/jack.gif" alt="turn table"></a></div>
    <div class="icons jane"><a href="/people/jane"><img src="/images/jane.gif" alt="notebook"></a></div>
    <div class="icons mitzi"><a href="/people/mitzi"><img src="/images/mitzi.gif" alt="scale"></a></div>
    <div class="icons olivia"><a href="/people/olivia"><img src="/images/olivia.gif" alt="pencil"></a></div>
    <div class="icons zach"><a href="/people/zach"><img src="/images/zach.gif" alt="handcuffs"></a></div>
    
    <% for (var slug in public.people._data){ %>
      <div id=<%= public.people._data[slug].Selector %> class="blurb-container">
        <h2><%= public.people._data[slug].Name %></h2>
        <div><%= public.people._data[slug].Resolution %></div>
      </div>
    <% }; %>

  </div>
</div>
