<div class="main">
  <h1>Resolution Project</h1>
  <h3>Blurb about the Resolution Project</h3>
  <div class="nonagon">
    <div class="a">Alex</div>
    <div class="b">A.T.</div>
    <div class="c">Becca</div>
    <div class="d">George</div>
    <div class="e">Jack</div>
    <div class="f">Jane</div>
    <div class="g">Mitzi</div>
    <div class="h">Olivia</div>
    <div class="i">Zach</div>
  </div>
</div>
