/* -- General -- */

.hide {
  display: none;
}

body {
  text-align: left;
  background: #f4f4f7;
  color: #444;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

p,
.about li,
.person {
  font-family: 'Open Sans', sans-serif;
}

a,
a:visited {
  text-decoration: none;
  padding-bottom: 5px;
  color: #444;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

.main,
.about {
  margin-left: 300px;
  padding: 0 100px;
}

/* -- Sidebar -- */

nav {
  width: 200px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: solid 1px #CCC;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  padding: 25px 0;
  margin-bottom: 25px;
  border-bottom: #CCC solid 1px;
}

.page {
  font-size: 22px;
  font-weight: 700;
}

.person {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 500;
}

.page,
.person {
  padding-bottom: 25px;
}

/* -- Main -- */

.main ul {
  padding: 0;
}

.main li {
  text-decoration-style: none;
  display: inline;
  cursor: pointer;
  font-size: 28px;
  font-weight: 500;
  margin-right: 15px;
}

.main p {
  line-height: 1.5;
  width: 900px;
}

.info {
  margin-bottom: 25px;
  border-bottom: #CCC solid 1px;
  padding-bottom: 25px;
}

.part-title {
  font-size: 22px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  padding-right: 10px;
}

.reveal-card {
  background: #CCC;
}

.month-container div {
  padding-top: 10px;
  width: 1000px;
}

.month-container p {
  padding-bottom: 10px;
}

/* -- About -- */

.about {
  margin-bottom: 100px;
}

.participant-info {
  font-weight: 500;
}

.about p {
  margin: 0;
}

.about {
  width: 1000px;
}
