.hide {
  display: none;
}

body {
  margin: 0;
  background: #f4f4f7;
  color: #444;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}

p,
.about li,
.person {
  font-family: 'Open Sans', sans-serif;
}

a,
a:visited {
  padding-bottom: 3px;
  color: #444;
  text-decoration: none;
}

h1 {
  padding: 10px 0 25px 0;
  margin: 0;
  border-bottom: #cccccc solid 1px;
  font-size: 65px;
  line-height: 1.2em;
}

nav {
  text-align: center;
}

nav .participants-link:hover,
.main .month-container li:hover {
  cursor: pointer;
}

nav .logo {
  padding: 0;
  border-bottom: #cccccc solid 1px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

nav .main-nav-links {
  border-bottom: #cccccc solid 1px;
}

nav .part-nav-links {
  padding: 15px 0;
}

nav .page {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  font-weight: 700;
}

nav .person {
  display: none;
}

nav .person.block {
  display: block;
  padding-bottom: 15px;
}

.main ul {
  padding: 0;
}

.main li {
  display: inline-block;
  margin: 0 15px 15px 0;
  padding-bottom: 3px;
  border-bottom: solid 1px transparent;
  font-size: 28px;
  font-weight: 700;
}

.main .month-container li {
  margin: 0 15px 5px 0;
  padding-bottom: 0;
  font-size: 20px;
}

.main .info-container {
  padding: 25px 0;
  border-bottom: #cccccc solid 1px;
}

.main .info-container,
.main .month-container {
  padding: 25px 0;
}

.main .part-title {
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.main .month-container div {
  padding-top: 10px;
}

.main .month-container p {
  padding-bottom: 10px;
}

.main .aug,
.main .sep,
.main .oct,
.main .nov,
.main .dec {
  color: #cccccc;
}

.main .aug:hover,
.main .sep:hover,
.main .oct:hover,
.main .nov:hover,
.main .dec:hover {
  cursor: default;
}

.main,
.about {
  padding-bottom: 75px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.main li.underline,
.underline,
.about p a {
  border-bottom: solid 1px #1cd8d9;
}

.about p {
  margin: 0;
}

.about .process {
  padding-bottom: 15px;
}

@media (min-width: 768px) {

  h1 {
    padding: 25px 0 25px 0;
  }
  
  nav {
    position: fixed;
    bottom: 0;
    top: 0;
    padding: 0 30px;
    width: 200px;
    border-right: solid 1px #cccccc;
    text-align: left;
  }

  nav .logo {
    padding: 25px 0;
    margin-bottom: 25px;
    text-align: left;
  }

  nav .part-nav-links {
    padding: 0;
  }

  nav .page,
  nav .person {
    display: block;
  }

  nav .page {
    padding-bottom: 20px;
  }

  nav .person {
    margin-left: 50px;
    padding-bottom: 15px;
  }

  nav .main-nav-links,
  nav .participants-link.underline {
    border-bottom: none;
  }

  nav .participants-link:hover {
    cursor: default;
  }

  nav .underline {
    border-bottom: none;
  }

  .underline {
    padding-bottom: 10px;
  }

  .main,
  .about {
    margin-left: 215px;
    padding: 0 100px 75px 100px;
    margin-bottom: 100px;
    width: 55%;
  }

}

@media (min-width: 1350px) {
  .main .month-container ul {
    width: 1050px;
  }
}
