.hide {
  display: none;
}

body {
  text-align: left;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1,
h2,
h3,
h4,
.main li,
.logo,
.info {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h2 {
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3,
h4,
.main li {
  font-weight: 300;
}

ul {
  padding-left: 0;
}

p,
li {
  font-weight: 200;
}

li {
  text-decoration-style: none;
  display: inline;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

nav {
  width: 200px;
  padding: 0 20px;
  position: fixed;
  top: 0;
  bottom: 0;
  border-right: solid 1px #CCC;
}

nav a {
  text-decoration: none;
  padding-bottom: 5px;
}

nav a:visited {
  color: #444;
}

nav a h3,
nav a h4 {
  border-bottom: 2px solid transparent;
}

nav a h3:hover,
nav a h4:hover {
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

nav .person {
  margin-left: 30px;
}

.main {
  margin-left: 200px;
  padding: 0 100px;
}

.main li {
  font-weight: 500;
  font-size: 18px;
  margin-right: 15px;
}

.main p {
  line-height: 2;
  width: 900px;
}

.info {
  font-weight: 500;
}
