<nav>
  <a href="/"><div class="logo">Resolution Project</div></a>
  <a href="/"><div class="page">Home</div></a>
  <a href="/about"><div class="page">About</div></a>
  <a href="/people/alex"><div class="person">Alex</div></a>
  <a href="/people/at"><div class="person">A.T</div></a>
  <a href="/people/becca"><div class="person">Becca</div></a>
  <a href="/people/george"><div class="person">George</div></a>
  <a href="/people/jack"><div class="person">Jack</div></a>
  <a href="/people/jane"><div class="person">Jane</div></a>
  <a href="/people/mitzi"><div class="person">Mitzi</div></a>
  <a href="/people/olivia"><div class="person">Olivia</div></a>
  <a href="/people/zach"><div class="person">Zach</div></a>
</nav>
