<nav>
  <a href="/"><h3>Resolution Project</h3></a>
  <a href="/"><h3>Home</h3></a>
  <a href="/about"><h3>About</h3></a>
  <a href="/participants"><h3>Participants</h3></a>
  <a href="/people/alex"><h4 class="person">Alex</h4></a>
  <a href="/people/at"><h4 class="person">A.T</h4></a>
  <a href="/people/becca"><h4 class="person">Becca</h4></a>
  <a href="/people/george"><h4 class="person">George</h4></a>
  <a href="/people/jack"><h4 class="person">Jack</h4></a>
  <a href="/people/jane"><h4 class="person">Jane</h4></a>
  <a href="/people/mitzi"><h4 class="person">Mitzi</h4></a>
  <a href="/people/olivia"><h4 class="person">Olivia</h4></a>
  <a href="/people/zach"><h4 class="person">Zach</h4></a>
</nav>
